<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo</title>
    <link rel="stylesheet" href="../CSS/catalogo.css" />
  </head>
  <body>
    <div id="grilla">
      <header>
        <nav class="navbar">
          <h1>Tienda de Libros</h1>
          <ul class="menu">
            <li class="boton__menu">
              <a href="../../index.html">Inicio</a>
            </li>
            <li class="boton__menu">
              <a href="./catalogo.html">Catálogo</a>
            </li>
            <li class="boton__menu">
              <a href="./nosotros.html">Nosotros</a>
            </li>
            <li class="boton__menu">
              <a href="./contacto.html">Contacto</a>
            </li>
            <li class="boton__menu">
              <a href="./ubicacion.html">Ubicación</a>
            </li>
          </ul>
        </nav>
      </header>

      <setion class="section__one">
        <h2>Categorias</h2>
        <ul class="categorias">
          <li>Fantasía</li>
          <li>Policiales</li>
          <li>Drama</li>
          <li>Ciencia Ficción</li>
          <li>Infantiles</li>
        </ul>
      </setion>

      <section class="section__two">
        <img src="../img/Portada 1.jfif" alt="El Camino de los Reyes" />
        <h4>El Camino de los Reyes</h4>
      </section>

      <footer>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
