<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Contacto</title>
    <link rel="stylesheet" href="../CSS/contacto.css" />
  </head>
  <body>
      <div id="grilla"> 
    <header>
      <nav class="navbar">
        <h1>Tienda de Libros</h1>

        <ul class="menu">
          <li class="boton__menu">
            <a href="../../index.html">Inicio</a>
          </li>
          <li class="boton__menu">
            <a href="./catalogo.html">Catálogo</a>
          </li>
          <li class="boton__menu">
            <a href="./nosotros.html">Nosotros</a>
          </li>
          <li class="boton__menu">
            <a href="./contacto.html">Contacto</a>
          </li>
          <li class="boton__menu">
            <a href="./ubicacion.html">Ubicación</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="section__one"> 
    <h2>Contacto</h2>
    
    <form class="form">
        <label for="username">Nombre y apellido</label>
        <input type="text" name="username" id="" /> <br />
        <label for="email">Correo Electronico</label>
        <input type="email" name="email" id="" /> <br />
        <label for="Details">Motivo de la Consulta</label>
        <input type="text" name="Details" id="" /> <br />
        <button type="submit">Enviar</button>
    </form>
    
    </section> 
    <footer>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </footer>
</div>
  </body>
</html>
