<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nosotros</title>
    <link rel="stylesheet" href="../CSS/nosotros.css" />
  </head>
  <body>
    <div id="grilla">
      <header>
        <nav class="navbar">
          <h1>Tienda de Libros</h1>

          <ul class="menu">
            <li class="boton__menu">
              <a href="../../index.html">Inicio</a>
            </li>
            <li class="boton__menu">
              <a href="./catalogo.html">Catálogo</a>
            </li>
            <li class="boton__menu">
              <a href="./nosotros.html">Nosotros</a>
            </li>
            <li class="boton__menu">
              <a href="./contacto.html">Contacto</a>
            </li>
            <li class="boton__menu">
              <a href="./ubicacion.html">Ubicación</a>
            </li>
          </ul>
        </nav>
      </header>

      <section class="section__one">
        <img src="../img/Nosotros 1.jfif" alt="" />

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rerum
          provident, quas tempore consectetur dolorum voluptas veritatis
          explicabo, quis, aperiam ipsam eveniet repellat! Tenetur consectetur
          perferendis in sequi commodi fugiat.
        </p>
      </section>
      <section class="section__two">
        <img src="../img/nosotros 2.jfif" alt="" />

        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum
          cupiditate, dicta fuga placeat ratione expedita voluptate sit
          similique fugiat ipsum inventore harum consectetur, doloribus labore
          sint perferendis temporibus asperiores atque?
        </p>
      </section>

      <footer>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
        </ul>
      </footer>
    </div>
  </body>
</html>
