<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ubicación</title>
    <link rel="stylesheet" href="../CSS/ubicacion.css" />
  </head>
  <body>
      <div id="grilla">
    <header>
      <nav class="navbar">
        <h1>Tienda de Libros</h1>

        <ul class="menu">
          <li class="boton__menu">
            <a href="../../index.html">Inicio</a>
          </li>
          <li class="boton__menu">
            <a href="./catalogo.html">Catálogo</a>
          </li>
          <li class="boton__menu">
            <a href="./nosotros.html">Nosotros</a>
          </li>
          <li class="boton__menu">
            <a href="./contacto.html">Contacto</a>
          </li>
          <li class="boton__menu">
            <a href="./ubicacion.html">Ubicación</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="section__one">
      <h3>Sucursales</h3>

      <ul class="sucursales">
        <li>Caballito</li>
        <li>Flores</li>
        <li>Liniers</li>
        <li>Villa Crespo</li>
      </ul>

      <img
        src="../img/buenos-aires-map-1.jpg"
        alt="Mapa interactivo de la Ciudad de Buenos Aires"
      />
    </section>

    <footer>
      <ul>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
      </ul>
    </footer>
</div>
  </body>
</html>
