* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #86bbd8;
  max-width: auto;
}



.navbar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: auto;
  height: 10vh;
  justify-content: space-between;
  background-color: #33658a;
}

.navbar .menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #33658a;
  margin-bottom: 0px;
}

.categorias {
  font-size: medium;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #33658a;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  
}

img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 5px;

  border-style: inset;
}

footer {
  background-image: linear-gradient(
    to right top,
    #051937,
    #0a2850,
    #10386b,
    #134987,
    #155ba4
  );
}

footer ul{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  font-size: small;
  font-weight: 300;
  color: antiquewhite;
}

@media screen and (max-width: 576px) {
  #grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 150px 300px 100px;
    grid-template-areas:
      "header"
      "section__one"
      "section__two"
      "footer";
  }
  .section__one,
  .section__two {
    flex-direction: column;
    align-items: center;
  }

  .categorias {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  footer {
   
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 5px;
  }
}
