* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background\ 2.jpg);
}

#grilla {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 15% 35% 35% 15%;
  grid-template-areas:
    "header header header header"
    "section__one section__one section__one section__one"
    "section__two section__two section__two section__two"
    "footer footer footer footer";
}

header {
  grid-area: header;
  background-color: darkgray;
}

.navbar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1080px;
  height: 10vh;
  justify-content: space-between;
}

.navbar .menu {
  list-style: none;
  background-color: darkgrey;
  display: flex;
  gap: 20px;
}

.section__one {
  grid-area: section__one;
  display: flex;
}

.section__two {
  grid-area: section__two;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 5px;
  border-color: blue;
  border-style: inset;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: aqua;
}

footer {
  font-size: small;
  font-weight: 300;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: darkslateblue;
  display: inline-block;
  grid-area: footer;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 300px 300px 75px;
    grid-template-areas:
      "header"
      "section__one"
      "section__two"
      "footer";
  }
  .section__one,
  .section__two {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  h1 {
    margin: 5px;
  }

  img {
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 5px;
    border-color: blue;
    border-style: inset;
  }

  p {
    margin: 5px;
    padding: 2.5px;
    display: flex;
    overflow: auto;
  }

  footer {
    margin: 10px;
    list-style: none;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 5px;
  }
}
